

.fontPreset{
    font-family: 'Roboto Slab', serif;
}

/*border*/

.br50 {
    border-radius: 50% !important;
}

/*flex*/
.fx11a {
    flex: 1 1 auto;
}

/*width*/
.w30 {
    width: 30% !important;
}

.w360p {
    width: 360px !important;
}

/*font size*/
.fs16p {
    font-size: 16px !important;
}

.fs25p {
    font-size: 25px !important;
}

.fs20p {
    font-size: 20px !important;
}

.fs75p {
    font-size: 75px !important;
}

.fs33p {
    font-size: 33px !important;
}

.fs29p {
    font-size: 29px !important;
}

.fs55p {
    font-size: 55px !important;
}

/* bold */

.font-weight-bold {

    font-weight: 700 !important;
}

/*align*/
.text-justified {
    text-align: justify !important;
}

.text-center {
    text-align: center !important;
}

/*padding & margin*/
.pt55p {
    padding-top: 55px !important;
}

.pb45p {
    padding-bottom: 45px !important;
}

.mb15p {
    margin-bottom: 15px !important;
}

.mb25p {
    margin-bottom: 25px !important;
}

.pt60p {
    padding-top: 60px !important;
}

.mt30p {
    margin-top: 30px !important;
}

.mb30p {
    margin-bottom: 30px !important;
}

.mt40p {
    margin-top: 40px !important;
}

.mt70p {
    margin-top: 70px !important;
}

.mr20p {
    margin-right: 20px !important;
}

.pt16p {
    padding-top: 16px !important;
}

.mt25p {
    margin-top: 25px !important;
}

.pt25p {
    padding-top: 25px !important;
}

.pr45 {
    padding-right: 45% !important;
}

.pl45 {
    padding-left: 45% !important;
}

.pr10 {
    padding-right: 10% !important;
}

.pl10 {
    padding-left: 10% !important;
}

.pr20 {
    padding-right: 20% !important;
}

.pl20 {
    padding-left: 20% !important;
}

/*display*/
.d-flex {
    display: flex !important;
}

.bg-GreyDark {
    background-color: #333333;
}

/*colors*/
.greyText {
    color: #9D9D9D !important;
}

.whiteText {
    color: #FFFFFF !important;
}

.orangeText {
    color: #D9534F;
}



/*textCase*/
.text-uppercase {
    text-transform: uppercase !important;
}


/*button*/
.btn-orange {
    background-color: #F74C3C;
    color: white;
}

.btn-orange:hover {
    background-color: lightblue;
    color: white;
}

.orangeDText {

    color: #F74C3C;
}



body,
p,
h1,
h2,
h3,
h4,
h5 {
    padding: 0;
    margin: 0;

}


/*widescreen*/
@media screen and (min-width: 1200px) {

    .hr {

        border-top: 1px solid #d9534f !important;
    }

    .divHr {
        padding-right: 45% !important;
        padding-left: 45% !important;
    }

    /*-----nav---------*/
    .navbar{
        padding-left: 20%;
    }

    .navbar-brand{
        padding-right: 36%;
    }

    #divContainNav {
        display: flex !important;
        justify-content: space-around !important;
    }

    #navMobile {
        display: none !important;
    }

    #navig {
        height: 50px;
        background-color: #222222 !important;
    }

    #navig a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    #divNav {

        justify-content: space-around;
        flex-wrap: wrap;
    }

    /*--------------home------------*/
    #btnLearnMore{
        font-size: 12px;
        position: relative;
        top: 16px;
        left: 6px;
    }

    #divChevronsLearnMore{
        font-size: 12px;
        position: relative;
        top: 30px;
        left: 6px;
    }
    .titlePromise {
        font-size: 65px !important;
        padding-top: 55px !important;
    }

    .promise {
        margin-top: 70px !important;
    }

    #home {
        background-image: url('../images/hero-image.jpg');

    }

    #subTitleHome {
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }

    #subTitleHome p {
        font-size: 20px;
    }

    #subTitleHome strong {
        text-transform: uppercase !important;
    }

    .chevronBtnLearn {
        position: relative;
        top: 25px;
        left: 6px;
        font-weight: bolder !important;
        font-family: 'Cursive' !important;
    }

    #divBtnLearnMore {
        margin-top: 40px !important;
        padding-left: 16px;
        padding-right: 20px;
        padding-bottom: 9px;
        padding-top: 7px;
    }

    /*------------------who------------------*/
    #descWho {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    #descWho p {
        font-size: larger;
    }

    /*----------------get involved----------------*/
    #get-involved {
        background-color: #F5F5F5;

    }

    #contentGetInv {
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 10%;
        padding-right: 10%;
    }


    footer {
        width: 100%;
        height: 237px;
        background-color: #F74C3C;
    }

    #divFooter {
        position: relative;
        top: 60%;
    }

    #back-to-top {
        position: fixed;
        top: 42%;
        left: 96%;
    }

    #linksNav {
        display: block !important;
      /*  flex-wrap: "";
        flex-direction: "";
        justify-content: -"";
        position: relative;
        top: 0;
        width: 100%;
        background-color: currentColor;
        text-align: center;
        left: 0px;*/
    }


}

/*-------------desktop medium-----------*/
@media (max-width: 1199px) {
    .hr {

        border-top: 1px solid #d9534f !important;
    }

    .divHr {
        padding-right: 45% !important;
        padding-left: 45% !important;
    }

    /*-----nav---------*/
    .navbar{
        padding-left: 18%;
    }

    .navbar-brand{
        padding-right: 20%;
    }

    #divContainNav {
        display: flex !important;
        justify-content: space-around !important;
    }

    #navMobile {
        display: none !important;
    }

    #navig {
        height: 50px;
        background-color: #222222 !important;
    }

    #navig a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    #divNav {

        justify-content: space-around;
        flex-wrap: wrap;
    }

    /*--------------home------------*/
    #divChevronsLearnMore{
        font-size: 12px;
        position: relative;
        top: 30px;
        left: 6px;
    }
    .titlePromise {
        font-size: 65px !important;
        padding-top: 55px !important;
    }

    .promise {
        margin-top: 70px !important;
    }

    #home {
        background-image: url('../images/hero-image.jpg');

    }

    #subTitleHome {
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }

    #subTitleHome p {
        font-size: 20px;
    }

    #subTitleHome strong {
        text-transform: uppercase !important;
    }

    .chevronBtnLearn {
        position: relative;
        top: 25px;
        left: 6px;
        font-weight: bolder !important;
        font-family: 'Cursive' !important;
    }

    #divBtnLearnMore {
        margin-top: 40px !important;

        padding-left: 16px;
        padding-right: 20px;
        padding-bottom: 9px;
        padding-top: 7px;
    }

    /*------------------who------------------*/
    #descWho {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    #descWho p {
        font-size: larger;
    }

    /*----------------get involved----------------*/
    #get-involved {
        background-color: #F5F5F5;

    }

    #contentGetInv {
        flex-wrap: nowrap;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 10%;
        padding-right: 10%;
    }


    footer {
        width: 100%;
        height: 237px;
        background-color: #F74C3C;
    }

    #divFooter {
        position: relative;
        top: 60%;
    }

    #back-to-top {
        position: fixed;
        top: 90%;
        right: 14px;
    }

    #linksNav {
        display: block !important;
    }
}

/*-------------tablettes -----------*/
@media (max-width: 991px) {
    .hr {

        border-top: 1px solid #d9534f !important;
    }

    .divHr {
        padding-right: 45% !important;
        padding-left: 45% !important;
    }

    /*-----nav---------*/
    .navbar{
        padding-left: 18%;
    }

    .navbar-brand{
        padding-right: 20%;
    }
    #divContainNav {
        display: flex !important;
        justify-content: space-around !important;
    }

    #navMobile {
        display: none !important;
    }

    #navig {
        height: 50px;
        background-color: #222222 !important;
    }

    #navig a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    #divNav {

        justify-content: space-around;
        flex-wrap: wrap;
    }

    /*--------------home------------*/
    #divChevronsLearnMore{
        font-size: 12px;
        position: relative;
        top: 25px;
        left: 6px;
    }
    .titlePromise {
        font-size: 65px !important;
        padding-top: 55px !important;
    }

    .promise {
        margin-top: 70px !important;
    }

    #home {
        background-image: url('../images/hero-image.jpg');

    }

    #subTitleHome {
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }

    #subTitleHome p {
        font-size: 20px;
    }

    #subTitleHome strong {
        text-transform: uppercase !important;
    }

    .chevronBtnLearn {
        position: relative;
        top: 16px;
        left: 6px;
        font-weight: bolder !important;
        font-family: 'Cursive' !important;
    }

    #divBtnLearnMore {
        margin-top: 40px !important;
        padding-left: 16px;
        padding-right: 20px;
        padding-bottom: 9px;
        padding-top: 7px;
    }



    /*------------------who------------------*/
    #descWho {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }

    #descWho p {
        font-size: larger;
    }

    /*----------------get involved----------------*/
    #get-involved {
        background-color: #F5F5F5;

    }

    #contentGetInv {
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 10%;
        padding-right: 10%;

    }


    footer {
        width: 100%;
        height: 237px;
        background-color: #F74C3C;
    }

    #divFooter {
        position: relative;
        top: 60%;
    }

    #back-to-top {
        position: fixed;
        top: 90%;
        right: 14px;
    }

    #linksNav {
        display: block !important;
    }
}


/*-------------smartphone -----------*/
@media (max-width: 767px) {

    .fa-stack {
        position: relative;
        display: inline-block;
        width: 2.5em;
        height: 2em;
        line-height: 2em;
        vertical-align: middle;
    }

    .hr {

        border-top: 3px solid #F74C3C !important;
    }

    .divHr {
        padding-right: 36% !important;
        padding-left: 36% !important;
    }

    /*-----nav---------*/
    .navbar{
        padding-left: 0%;
    }

    .navbar-brand{
        padding-right: 0%;
    }
    #divContainNav {
        display: flex !important;
        justify-content: space-between !important;

    }

    #navMobile {
        display: block !important;
       /* position: relative;
        bottom: 3px;*/
    }

    #navig {
        height: 55px;
        background-color: #222222 !important;
    }

    #navig a {
        text-decoration: none;
        font-size: 16px;
        font-weight: 600;
    }

    #divNav {

        justify-content: space-around;
        flex-wrap: wrap;
    }

    /*--------------home------------*/
    #btnLearnMore{
        font-size: 12px;
        position: relative;
        top: 16px;
        left: 6px;
    }
    #divChevronsLearnMore{
        font-size: 8px;
        position: relative;
        top: 18px;
        left: 6px;
    }
    .titlePromise {
        font-size: 24px !important;
        padding-top: 25px !important;
    }

    .promise {
        margin-top: 40px !important;
        padding-left: 6% !important;
        padding-right: 6% !important;
    }

    #home {
        background-image: url('../images/hero-image.jpg');

    }

    #subTitleHome {
        justify-content: space-around;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 25%;
        padding-right: 25%;
    }

    #subTitleHome p {
        font-size: 15px;
    }

    #subTitleHome strong {
        text-transform: uppercase !important;
    }

    .chevronBtnLearn {
        position: relative;
        top: 9px;
        left: 6px;
        font-weight: bolder !important;
        font-family: 'Cursive' !important;
    }

    #divBtnLearnMore {
        margin-top: 30px !important;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 13px;
        padding-top: 7px;
        font-weight: 600;
    }

    .fs-1 {
        font-size: x-large !important;
    }

    /*------------------who------------------*/
    #descWho {
        padding-left: 4% !important;
        padding-right: 4% !important;
    }

    #descWho p {
        font-size: larger;
    }

    /*----------------get involved----------------*/

    #get-involved {
        background-color: #F5F5F5;

    }

    #contentGetInv {
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: space-between;
        align-items: flex-end;
        padding-left: 10%;
        padding-right: 10%;

    }


    footer {
        width: 100%;
        height: 237px;
        background-color: #F74C3C;
    }

    #divFooter {
        position: relative;
        top: 44%;
        left: -8%;
    }

    #back-to-top {
        position: fixed;
        top: 92%;
        right: 14px;
    }

    #linksNav {
        display: none!important;

    }
}